/******************nav section***********************/
nav a{
    color:gray;
    margin-left:30px;
}
nav a:hover{
    color:black;
}
nav a:active{
    color:black;
}
#menu img{
    height:15px;
}
/******************hero section***********************/


#hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    
    background-size:contain;
    
    height: 70vh;
   
}
/***************************media queries*********************************/


@media screen and (max-width:969px){
    #nav{
        display:none;
    }
    
}
@media screen and (min-width:969px){
    #menu{
        display:none;
    }
}
@media screen and (max-width:768px){
    #hero{
        height: 35vh;
    }
    #hero-text{
        font-size: 1.5rem;
        margin-top:10px;
    }
    

    
}
@media screen and (max-width:969px){
    #menu {
        position: absolute;
        top: 22px;
        left: 97px;
        right: 20px;
        height: 49px;
    }
   
    
    
    #hero-text{
        font-size: 0.8rem;
    }
}
@media screen and (min-width:768px){
    #menu{
        position: absolute;
        top: 25px;
        left: 242px;
        right: 20px;
        height:20px;
    }
    
}





#links hr{
    padding:0;
    margin:0;
}
#footer{
    background-color: #121212;
}










